body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Gotham';
    background-color: #EEE3CB; /* Cor de fundo clara */
  }
  
  .container {
    margin-top: 20px;
  }
  
  footer {
    font-family: 'Gotham';
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #D7C0AE; /* Defina a cor de fundo do footer */
    text-align:center; /* Centraliza o texto */
    padding: 10px 0; /* Espaçamento interno */
    box-shadow: 0 -2px 5px rgba(45, 42, 42, 0.1); 
    border: 5px solid #000;
  }
 
  

  